<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a_ha_main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ahamain">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--Splash Activity-->

        <activity android:name=".MainActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".LoginActivity" android:theme="@style/FullScreenTheme" />
        <activity android:name=".JoinActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MemoWriteActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MypageActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".AhaActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MemoActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MainDeleteActivity" android:theme="@style/FullScreenTheme"/>
        <activity android:name=".MainModifyActivity" android:theme="@style/FullScreenTheme"/>
    </application>

</manifest>